@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #EBE7E6;
  --pink: #EA7186;
  --yellow: #F2C76E;
  --violet: #7A77B9;
  --lilac: #BD9DEA;
}

@font-face {
  font-family: "Mango";
  src: url("../public/fonts/Mango.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway.ttf");
}

circle,
rect,
line {
  stroke-linecap: round;
}

rect,
line{
  fill: transparent;
}